[Unit]
Description=Controller script
StartLimitIntervalSec=5

[Service]
ExecStart=/usr/bin/python3 /controller/motion-controller-SenseHat-udp-01.py
StartLimitBurst=12

[Install]
WantedBy=multi-user.target
